@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img {
    width: 80%; 
    height: auto;
    border-radius: 10px; 
}

.details-container {
    flex: 2;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

form {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}

button:hover {
    background-color: #218838;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    color: #1f4c69;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
