<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros</title>
    <link rel="stylesheet" href="static/about_us.css">
    <link rel="icon" href="static/favicon.jpg" />
</head>
<body>
    <div class="about-container">
        <h1>Acerca de Nosotros</h1>
        <p>Bienvenido a nuestra biblioteca en línea. Nuestro objetivo es proporcionar acceso fácil a una variedad de libros para todos nuestros usuarios. Estamos comprometidos con la promoción de la lectura y el conocimiento.</p>
        <p>Contamos con una amplia selección de libros en diferentes géneros para que siempre encuentres algo que te interese.</p>
        <p>Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto con nosotros. Puedes escribirnos a nuestro correo electrónico: <a href="mailto:soportemardelibros@gmail.com.com">soportemardelibros@gmail.com</p>
        
        <a href="{{ url_for('login') }}">Regresar</a>
    </div>
</body>
</html>
