<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mar de Libros</title>
    <link rel="stylesheet" href="static/client.css" />
    <link rel="icon" href="static/favicon.jpg" />
</head>
<body>

    <div class="top-navbar">
        <div class="logo">
            <a href="/main">MAR DE LIBROS</a>
        </div>
        <div class="search-bar">
            <form method="GET" action="/main">
                <input type="text" name="search" placeholder="Buscar libros..." required>
                <button type="submit">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
            </form>
        </div>

        <div class="nav-options">
            <a href="{{ url_for('client_profile') }}">Perfil</a>
        </div>

    </div>

    <div class="books-grid">
        {% for book in books %}
        <div class="book-card">
            <a href="{{ url_for('loan_book', book_id=book.id) }}"><img src="{{ url_for('static', filename=book.cover_image) }}" alt="Portada del libro"></a>
            <div class="book-info">
                <h2>{{ book.title }}</h2>
                <p><strong>{{ book.author }}</strong></p>
                <p><strong>{{ book.genre }}</strong></p>
            </div>
        </div>
        {% else %}
        <p>No hay libros disponibles.</p>
        {% endfor %}
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
