<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mar de libros Iniciar Sesión</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" href="static/favicon.jpg" /> <!-- cambiar por uno sin fondo pq se ve feo -->
  </head>
  <body>
    <header>
      <h2 class="logo">Mar de Libros</h2>
      <nav class="navigation">
        <a href="{{ url_for('about_us') }}">Sobre Nosotros</a>
        <a href="mailto:soportemardelibros@gmail.com.com">Contacto</a>
      </nav>
    </header>
    <div class="wrapper">
      <div class="form-box login">
        <h2>Iniciar Sesión</h2>
        <form method="POST" action="{{ url_for('main') }}">
          <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="email" required id="email" name="email" />
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" required id="password" name="password" />
            <label>Contraseña</label>
            <div id="error-message" class="error {% if not error %} hidden {% endif %}">
                {{ error }}
            </div>    
          </div>
          <!--<div class="remember-forgot">
                    <label><input type="checkbox">Recuerdame</label>
                    <a href="">¿Olvidaste tu contraseña?</a>
                </div>-->
          <button type="submit" class="btn">Inciar Sesión</button>
          <div class="login-register">
            <p>
              ¿No tienes cuenta?<a
                href="{{ url_for('register') }}"
                class="register-link"
                >Registarse</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
